.translation-item {
    flex-direction: row;
    padding: 4px;
    margin: 2px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}

.translation-item__language {
    min-width: 100px;
    max-width: 100px;
    -unity-font-style: bold;
    padding: 2px 8px 2px 4px;
}

.translation-item__translation {
    flex-grow: 1;
    white-space: normal;
    padding: 2px 4px;
}