.window-root {
    padding: 8px;
    flex-grow: 1;
}

.selection-display {
    padding: 8px;
    border-radius: 4px;
}

.selection-display__title {
    -unity-font-style: bold;
}

.column-headers {
    flex-direction: row;
    padding: 4px 8px;
}

.column-headers__key {
    -unity-font-style: bold;
}

.column-headers__table {
    -unity-font-style: bold;
}

.column-headers__text {
    -unity-font-style: bold;
}

.entries-list {
    flex-grow: 1;
}
